<div id="about-me-content">
    <h1>Hi I'm Katerina, but most people call me Kathy.</h1>
    <br>
    <p>
        I'm a software engineer with a passion for building innovative, impactful, and sometimes...
        experimental solutions.
    </p>

    <div class="about-me-paragraph">
        <span class="paragraph-icon left">🎯</span>
        <p style="margin: 0;"></p>
            I specialize in web development and data analysis, with an affiliation for embedded systems, which means
            you will mostly find me working on the backend of things - although it is always satisfying building
            something that provides good user experience.
        </p>
    </div>
    <div class="about-me-paragraph" style="background-color: #015e0159;">
        <p style="margin: 0;">
            On the side, I enjoy installing or repairing hardware, gaming and playing music. I also like to try to stay
            active, either by hiking, playing tennis, or trying new sports.
        </p>
        <span class="paragraph-icon">🎲</span>
    </div>
    <p>
        Welcome to my portfolio! feel free to explore my projects and get in touch!
    </p>
</div>