<div class="about-me-section">
    <div id="about-me-content" class="no-scrollbar">
        <h1>Hi I'm Katerina,</h1>
        <p style="font-size: 20px; margin-bottom: 10px;">
            I'm a software engineer with a passion for building innovative, impactful, and sometimes...
            experimental solutions.
        </p>

        <div class="about-me-paragraph">
            <span class="paragraph-icon">🎯</span>
            <p style="margin: 0;">
                I specialize in web development and data analysis, with an affiliation for embedded systems, which means
                you will mostly find me working on the backend of things - although it is always satisfying building
                something that provides good user experience.
            </p>
        </div>
        <div class="about-me-paragraph light">
            <span class="paragraph-icon">🎲</span>
            <p style="margin: 0;">
                On the side, I enjoy installing or repairing hardware, gaming and playing music. I also try to stay
                active, either by working out, playing tennis or trying new sports.
            </p>
        </div>
    </div>
    <div id="about-me-contact">
        {% include contact_compact.html %}
    </div>
</div>