<div class="about-me-section no-scrollbar">
    <div id="about-me-content" class="no-scrollbar">
        <div style="display: flex; align-items: center; margin-bottom: 15px;">
            <span class="paragraph-icon">🙋‍♀️</span>
            <h4 style="margin-bottom: 0;">Hi I'm Katerina,</h4>
        </div>
        <p style="margin-bottom: 10px;">
            I'm a software engineer with a passion for building innovative, impactful, and sometimes...
            experimental solutions.
        </p>
        <hr style="background: white;">
        <p style="margin: 0;">
            I completed a specialization course in <span style="color: green">Game Design and Technology</span>, and focused on
            <span style="color: red">Data Science</span> and <span style="color: orange">Machine Learning</span>
            during my Internship and Graduation projects.
        </p>
        <p style="margin: 0;">
            Post-studies I've worked as a full-stack <span style="color: lightskyblue">Web Developer</span> and continue to refine my frontend skills.
        </p>
        <!-- <div class="about-me-paragraph">
            <p style="margin: 0;">
                I specialize in web development and data analysis, with an affiliation for embedded systems, which means
                you will mostly find me working on the backend of things - although it is always satisfying building
                something that provides good user experience.
            </p>
        </div> -->
    </div>
    <div id="about-me-contact">
        {% include contact_compact.html %}
    </div>
</div>