{% assign slide_count = site.projects | size %}
{% assign sorted_projects = site.projects | sort: "start_date" | reverse %}

<div class="glide">
  <div class="glide__track" data-glide-el="track">
    <ul class="glide__slides">
      {% for project in sorted_projects %}
        <li class="glide__slide">{% include project_card.html %}</li>
      {% endfor %}
    </ul>
  </div>

  <div class="glide__arrows" data-glide-el="controls">
    <button class="glide__arrow glide__arrow--left" data-glide-dir="<">❮</button>
    <button class="glide__arrow glide__arrow--right" data-glide-dir=">">❯</button>
  </div>

  <div class="glide__bullets" data-glide-el="controls[nav]">
    {% for slide_index in (1..slide_count) %}
      <button class="glide__bullet" data-glide-dir="={{ slide_index | minus: 1 }}"></button>
    {% endfor %}
  </div>

<script>
  new Glide('.glide', {
    autoplay: 3000,
    hoverpause: true,
    type: 'carousel',
    perView: 1,
    gap: 18,
    peek: {
      before: 200,
      after: 200
    },
    breakpoints: {
      820: {
        peek: { before: 160, after: 160 }
      },
      750: {
        peek: { before: 120, after: 120 }
      },
      700: {
        peek: { before: 90, after: 90 }
      },
      620: {
        peek: { before: 60, after: 60 }
      },
      550: {
        peek: { before: 8, after: 8 }
      }
    }
  }).mount();
</script>
