{% assign slide_count = image_list | size %}

<div class="glide">
  <div class="glide__track" data-glide-el="track">
    <ul class="glide__slides">
      {% for image in image_list %}
        <li class="glide__slide"><img src="{{ site.baseurl }}{{ image.path }}" /></li>
      {% endfor %}
      
    </ul>
  </div>

  <div class="glide__arrows" data-glide-el="controls">
    <button class="glide__arrow glide__arrow--left" data-glide-dir="<">❮</button>
    <button class="glide__arrow glide__arrow--right" data-glide-dir=">">❯</button>
  </div>

  <div class="glide__bullets" data-glide-el="controls[nav]">
    <button class="glide__bullet" data-glide-dir="=0"></button>
    <button class="glide__bullet" data-glide-dir="=1"></button>
    <button class="glide__bullet" data-glide-dir="=2"></button>
  </div>
</div>

<script>
  new Glide('.glide', {
    animationDuration: 800,
    type: 'carousel',
    perView: 1,
    gap: 18,
    peek: {
      before: 100,
      after: 100
    },
    breakpoints: {
      800: {
        peek: { before: 60, after: 60 }
      },
      500: {
        peek: { before: 8, after: 8 }
      }
    }
  }).mount();
</script>
