<a href="{{ project.url }}" class="card-link">
  <div class="card">
    <div class="card-header">
      <div style="display: flex; gap: 20px; justify-content: center;">
        <h3 class="card-title">{{ project.title }}</h3>
        <img style="width: 24px; height: 24px; align-self: start; margin-top: 2px;" src="/assets/images/external_link.png" />
      </div>
      {% include project_date.html %}
      <hr>
      <p class="card-content">{{ project.description }}</p>
    </div>
    <div class="card-footer">
      {% include project_skills.html %}
    </div>
  </div>
</a>