// Fonts
$line-break-h1: 85px;
$line-break-h2: 85px;
$line-break-h3: 48px;
$line-break-h4: 33px;
$line-break-p: 30px;

// Colors
$background-colorful: linear-gradient(90deg, rgba(42, 123, 155, 0.5) 0%, rgba(255, 255, 255, 0.8) 50%, rgb(212, 255, 95) 100%);
$background-dark-blue: #0a2131;

// Component vars
$card-width: 500px;
$card-border-radius: 12px;
$card-text-color: white;

// FROM CAYMAN THEME
// Breakpoints
$large-breakpoint: 64em !default;
$medium-breakpoint: 42em !default;

// Headers
$header-heading-color: #fff !default;
$header-bg-color: #159957 !default;
$header-bg-color-secondary: #155799 !default;

// Text
$section-headings-color: #159957 !default;
$body-text-color: #606c71 !default;
$body-link-color: #1e6bb8 !default;
$blockquote-text-color: #819198 !default;

// Code
$code-bg-color: #f3f6fa !default;
$code-text-color: #567482 !default;

// Borders
$border-color: #dce6f0 !default;
$table-border-color: #e9ebec !default;
$hr-border-color: #eff0f1 !default;