$theme-font-family: 'OpenSansLight', "Helvetica Neue", Helvetica, Arial, sans-serif;

// Use in combination -> border, background, background-color
$theme-border: 1px solid #5d910b;
$theme-background: linear-gradient(#93bd20, #659e10);
$theme-background-color: #93bd20;
$theme-border-hover: 1px solid #527f0e;
$theme-background-hover: linear-gradient(#749619, #527f0e);
$theme-background-color-hover: #659e10;
