@import "../assets/css/home_page.scss";

// Components
@import "../assets/css/components/card_gallery.scss";
@import "../assets/css/components/carousel.scss";
@import "../assets/css/components/card.scss";
@import "../assets/css/components/navigation.scss";
@import "../assets/css//components/skills.scss";

// :root {
//   --step--2: clamp(0.7813rem, 0.7457rem + 0.1578vw, 0.8681rem);
//   --step--1: clamp(0.9375rem, 0.8949rem + 0.1894vw, 1.0417rem);
//   --step-0: clamp(1.125rem, 1.0739rem + 0.2273vw, 1.25rem);
//   --step-1: clamp(1.35rem, 1.2886rem + 0.2727vw, 1.5rem);
//   --step-2: clamp(1.62rem, 1.5464rem + 0.3273vw, 1.8rem);
//   --step-3: clamp(1.944rem, 1.8556rem + 0.3927vw, 2.16rem);
//   --step-4: clamp(2.3328rem, 2.2268rem + 0.4713vw, 2.592rem);
//   --step-5: clamp(2.7994rem, 2.6721rem + 0.5655vw, 3.1104rem);
// }

html, body {
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;

  .go-back-btn {
    color: white;
    display: flex;
  }

  main {
    &.main-content {
      max-width: 75rem;
    }

    .content-section {
        width: 100%;
        margin: 0 auto;
        padding: 2em 3em;
        box-sizing: border-box;

        display: flex;
        flex-direction: column;
        justify-content: center;

        &.fullscreen-section {
          min-height: 100vh;
          height: auto;
          scroll-snap-align: center;
          scroll-snap-stop: always;

          .glide {
            height: 60vh;
            background: $background-colorful;
            padding: 40px 0;

            .glide__track-container {
              height: 80%;
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              width: 100%;

              .glide__track {
                height: 85%;
                .glide__slides {
                  height: 100%;
                  display: flex;
                  align-items: center;

                  .glide__slide {
                    height: 80%;
                    margin-top: 0;
                    margin-bottom: 0;
                  }
                }
              }
            }
          }

          @media (max-width: 780px) {
            max-width: 95%;
          }
          @media (max-width: 450px) {
            max-width: 100%;
          }
        }

        .content-section-title {
          margin: 0 0 5px;
          text-align: center;
        }

        @media (max-width: 500px) {
          padding: 2em 1em;
        }
      }

    .scroll-container {
      width: 100vw;
      height: 100vh;
      overflow-y: scroll;

      scroll-snap-type: y mandatory;
    }
  }

  .hpfield {
    display: none;
  }

  input[type=text], input[type=email], select, textarea {
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 16px;
    margin-top: 6px;
    padding: 12px;
    width: 100%;
    resize: vertical;
    font-size: var(--step-0);
  }

  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

    &::-webkit-scrollbar {
      display: none; // Chrome, Safari and Opera
    }
  }

  .scrollable-content {
    border-radius: 5px;
    max-height: 75vh;
    overflow-y: scroll;
  }

  .border-gradient {
    border: 10px solid;
    border-image-slice: 1;
    border-width: 3px;

    border-image-source: $background-colorful; //linear-gradient(to left, #743ad5, #d53a9d);
  }
}
