@import "../assets/css/navigation.scss";
@import "../assets/css/image_gallery.scss";
@import "../assets/css/card_gallery.scss";
@import "../assets/css/image_carousel.scss";
@import "../assets/css/card_carousel.scss";
@import "../assets/css/project_card.scss";
@import "../assets/css/category_card.scss";
@import "../assets/css/skills.scss";

:target {
  scroll-margin-top: 4em;
}

.about-me-image {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  border: 2px solid white;
  margin: 1.5em 0 0 1.5em;
}

.about-me-paragraph {
  display: flex;
  align-items: center;
  background-color: #00000057;
  padding: 16px 16px 16px 16px;
  margin: 16px 0;
  border-radius: 8px;
}

.background-image {
  border-radius: 5px;
  background: $theme-background-image;
  padding: 20px;
  border-bottom: $theme-border-bottom;
  box-shadow: $theme-box-shadow;
}

.flex-content-row {
  display: flex;
  gap: 1rem;
}

.hpfield {
  display: none;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font: $theme-font;
  font-family: $theme-font-family;
  
  h1, h2, h3, p {
    font-family: $theme-font-family !important;
  }

  .paragraph-icon {
    font-size: 2rem;
  }

  .paragraph-icon.left {
    margin-right: 16px;
  }
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  h3 {
    color: $theme-text-primary-color;
  }
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  background: $theme-background;
  background-color: $theme-background-color;
  border: $theme-border;
  border-radius: 2px;
  box-shadow: inset 0px 1px 0px rgba(255,255,255,.3), 0px 3px 7px rgba(0,0,0,.7);
  color: white;
  font-size: 14px;
  font-weight: normal;
  line-height: 50px;
  line-height:14px;
  list-style: none;
  margin-top: 6px;
  padding: 10px 12px;
  text-align:center;
  text-shadow: 0px 1px 0px rgba(0,0,0,.2);

  &:hover {
    background: $theme-background-hover;
    background-color: $theme-background-color-hover;
    border: $theme-border-hover;
    box-shadow: inset 0px 1px 1px rgba(0,0,0,.2), 0px 1px 0px rgba(0,0,0,.0);
  }
}

.external-link {
  color: rgb(41, 56, 35) !important;
  align-self: flex-end;
  margin: 0 1em 1em 0;
}

.external-link:hover {
  background-color: rgba(46, 43, 43, 0.26);
  border-radius: 30%;
  padding: 3px 2px 0 3px;
}

footer {
  flex-shrink: 0;
  height: 100px;
  width: 100%;
  background: #222;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  box-sizing: border-box;

  .credits {
    color: #696969;
    font-size: 11px;
    font-weight: normal;
    margin-top: -10px;
    padding: 0 10px;
  }
}

input[type=text], input[type=email], select, textarea {
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 16px;
  margin-top: 6px;
  padding: 12px;
  width: 100%;
  resize: vertical;
}

ul {
  // overwrite theme's icon (ugly double arrows)
  list-style-image: none;
}

a {
  &.button {
    color: white;
    border: 1px solid #5d910b;
    background: linear-gradient(#93bd20, #659e10);
    box-shadow: inset 0px 1px 0px rgba(255,255,255,.3), 0px 3px 7px rgba(0,0,0,.7);
    background-color: #93bd20;
    
    padding: 10px 12px;
    line-height:14px;
    font-size:14px;
    margin: 6px auto;
    display: block;
    text-align:center;
    width: fit-content;
  
    &:hover {
      background: linear-gradient(#749619, #527f0e);
      background-color: #659e10;
      border: 1px solid #527f0e;
      box-shadow: inset 0px 1px 1px rgba(0,0,0,.2), 0px 1px 0px rgba(0,0,0,.0);
    }
  }
}

// One level above '.content'
section {
  max-width: 100%;
  flex: 1 0 auto;

  #title {
    margin: 0 auto;
    max-width: 40em;

    h1 {
      line-height: 55px;
    }
  }
  
  #content {
    .content-section {
      max-width: 80em;
      width: 100%;
      margin: 0 auto;
      padding: 2em 3em;
      box-sizing: border-box;

      .content-section-title {
        margin-top: 0.5em;
        margin-bottom: 2em;
        text-align: center;
        
        a {
          text-decoration: none;
          color: inherit;
        }
      }

      .content-section-text {
        max-width: 900px;
        margin: 0 auto;
        font-size: medium;
      }
    }

    .scroll-container {
      height: 100vh;
      overflow-y: scroll;
      scroll-snap-type: y mandatory;
    }

    .content-section.fullscreen-section {
      min-height: 100vh;
      height: auto;
      scroll-snap-align: start;
      align-items: flex-start;
    }
  }
}

hr {
  margin: 2em auto;
  max-width: 60em;
}
