@import "../assets/css/image_gallery.scss";
@import "../assets/css/card_gallery.scss";
@import "../assets/css/image_carousel.scss";
@import "../assets/css/card_carousel.scss";
@import "../assets/css/contact_form.scss";
@import "../assets/css/project_card.scss";
@import "../assets/css/skills.scss";

.hpfield {
  display: none;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  background: $theme-background;
  background-color: $theme-background-color;
  border: $theme-border;
  border-radius: 2px;
  box-shadow: inset 0px 1px 0px rgba(255,255,255,.3), 0px 3px 7px rgba(0,0,0,.7);
  color: white;
  font-family: $theme-font-family;
  font-size: 14px;
  font-weight: normal;
  line-height: 50px;
  line-height:14px;
  list-style: none;
  margin-top: 6px;
  padding: 10px 12px;
  text-align:center;
  text-shadow: 0px 1px 0px rgba(0,0,0,.2);

  &:hover {
    background: $theme-background-hover;
    background-color: $theme-background-color-hover;
    border: $theme-border-hover;
    box-shadow: inset 0px 1px 1px rgba(0,0,0,.2), 0px 1px 0px rgba(0,0,0,.0);
  }
}

.external-link {
  color: rgb(41, 56, 35) !important;
  align-self: flex-end;
  margin: 0 1em 1em 0;
}

.external-link:hover {
  background-color: rgba(46, 43, 43, 0.26);
  border-radius: 30%;
  padding: 3px 2px 0 3px;
}

footer {
  flex-shrink: 0;
  height: 100px; // or your preferred height
  width: 100%;
  background: #222;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  box-sizing: border-box;

  .credits {
    color: #696969;
    font-family: 'OpenSansRegular', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 11px;
    font-weight: normal;
    margin-top: -10px;
    padding: 0 10px;
  }
}

input[type=text], input[type=email], select, textarea {
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 16px;
  margin-top: 6px;
  padding: 12px;
  width: 100%;
  resize: vertical;
}

ul {
  // overwrite theme's icon (ugly double arrows)
  list-style-image: none;
}

// One level above '.content'
section {
  max-width: 100%;
  flex: 1 0 auto;

  // Ensure we can use the whole viewport if needed
  #title {
    margin: 0 auto;
    max-width: 40em;
  }
  
  #content {
    #content-section {
      max-width: 900px;
      margin: 4em auto;
      padding: 0 1rem;
      box-sizing: border-box;

      #content-section-title {
        text-align: center;
      }

      #content-section-text {
        max-width: 900px;
        margin: 0 auto;
        font-size: medium;
      }
    }
  }
}

hr {
  margin: 0 auto;
  max-width: 60em;
}
