.glide__arrows {
    color: white;
    border: none;
    z-index: 10;

    .glide__arrow--left {
      position: absolute;
      left: 10px;
      top: 50%;
      transform: translateY(-50%);
    }

    .glide__arrow--right {
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
    }
}

.glide__slides {
  padding: 10px 0 !important;
}

.glide__bullets {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.glide__bullet {
  width: 1em;
  height: 1em;
  padding: 0;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.glide__bullet--active {
  background: #06290f;
}
