.glide__arrows {
    color: white;
    border: none;
    z-index: 10;

    .glide__arrow--left {
      position: absolute;
      left: 10px;
      top: 50%;
      transform: translateY(-50%);
    }

    .glide__arrow--right {
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
    }
}

.glide__slide {
  text-align: center;
  margin: auto 0;
  display: flex;
  flex-direction: column;
  justify-content: center;

  img {
    height: 100%;
    width: auto;
    max-width: 100%;
    object-fit: contain;
    display: block;
    margin: 0 auto;
  }

  .image-caption {
    padding-top: 10px;
  }
}

.glide__slides {
  padding: 10px 0 !important;
}

.glide__bullets {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  padding: 5px 0;
}

.glide__bullet {
  width: 1em;
  height: 1em;
  padding: 0;
  border-radius: 50%;
  background: $theme-background-color;
  margin: 0 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.glide__bullet--active {
  background: #06290f;
  border: 2.5px solid $theme-primary-color
}

.glide__track-container {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 10px 0;
}