.about-me-section {
  display: grid;
  grid-template-columns: 2fr 1fr;
  // grid-template-columns: repeat(auto-fit, minmax(min(100%, 350px), 1fr)); // See "Cards Grid" at: https://ishadeed.com/article/css-grid-minmax/
  // grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  // grid-template-columns: minmax(1rem, 1fr) minmax(auto, 70ch) minmax(auto, 70ch) minmax(1rem, 1fr);

  gap: 0.5em;

  @media (max-width: 950px) {
    grid-template-columns: 1fr;
  }

  @media (max-width: 950px) and (max-height: 1275px), (max-width: 576px) {
    #about-me-contact {
      display: none;
    }
  }

  #about-me-content {
    padding: 25px 40px;
    background-color: $theme-background-color-dark-gray;
    overflow: auto;
    justify-content: center;
    display: grid;
    min-height: fit-content;
    max-height: 934px;

    .about-me-image {
      width: 140px;
      height: 140px;
      border-radius: 50%;
      border: 2px solid white;
      margin: 1.5em 0 0 1.5em;
    }

    .about-me-paragraph {
      display: flex;
      align-items: center;
      background-color: #0000003a;
      padding: 10px 16px;
      margin: 7px 0;
      border-radius: 8px;

      p {
        font-size: var(--step--1);
      }
    }

    .about-me-paragraph.light {
      background-color: #597c00c9;
    }
  }

  #about-me-contact {
    overflow: hidden;
  }
}