nav {
  min-width: 180px;
  margin: 5px auto;
  background: linear-gradient(#93bd20, #659e10);

  ul {
    padding-left: 0;
  }

  .nav-sidebar-menu {
    display: flex;
    flex-direction: column;
    margin: auto 20px;
    justify-content: center;
    height: 100%;

    .nav-title {
      font-size: var(--step-1);
      // margin: 10px 0;
      display: flex;
      align-items: center;

      a {
        color: white;
        width: 100%;
        padding: 20px 10px 20px;
        display: inline-block;

        &:hover, &.active {
          background: rgba(255, 255, 255, 0.197);
          border-radius: 3px;
        }
      }
    }
  }
}
