.glide {
  .glide__track-container {
    background: $background-dark-blue;
    border-radius: 8px;

    .glide__track {
      padding: 0 0 10px 0;

      .glide__slides {
        height: 100%;

        .glide__slide {
          text-align: center;
          display: flex;
          flex-direction: column;

          // Since img { height: 0 }, we need to ensure the aspect ratio is always consistent
          // this prevents offset when one or more images have too big of a ratio
          aspect-ratio: 16/9;

          img {
            flex: 1;
            width: 100%;
            max-width: 100%;
            height: 0; /* This forces the flex item to respect flex: 1 */
            object-fit: contain;
            display: block;
            margin: 0 auto;
          }

          .image-caption {
            flex-shrink: 0;
            padding-top: 10px;
            text-align: center;
          }
        }
      }
    }
    
    .glide__arrows {
      color: white;
      border: none;
      z-index: 10;
      display: flex;
      align-items: center;

      .btn {
        margin-bottom: 0;
      }

      .glide__arrow--left, .glide__arrow--right {
        min-height: 50%;
        height: 100%;
        padding: 30px;
        max-width: 10%;
      }
    }

    .glide__bullets {
      display: flex;
      justify-content: center;
      margin-top: 1rem;
      flex-wrap: wrap;

      .glide__bullet {
        width: 1em;
        height: 1em;
        padding: 0;
        border-radius: 50%;
        border-color: $background-dark-blue;
        margin: 2px 5px;
        cursor: pointer;
        transition: background 0.3s;
      }

      .glide__bullet--active {
        background: $background-dark-blue;
      }
    }
  }
}

#project-image-carousel {
  height: 60vh;

  .glide, .glide__track-container, .glide__arrows, .glide__track, .glide__slides {
    height: 100%;
  }
}
