<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/styles.css" }}">

    <!-- Include JavaScript -->
    <script src="/assets/js/image_carousel.js"></script>
    <script src="/assets/js/card_carousel.js"></script>
    <script src="/assets/js/hamburger.js"></script>

    <!-- CDN -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/css/glide.core.min.css">
    <script src="https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/glide.min.js"></script>
  </head>
  <body>
    <div id="header">
      {% include navigation.html %}
    </div>
    <section>
      {% if page.title or page.description %}
        <div id="title">
          {% if page.title %}
          <h1>{{ page.title }}</h1>
          {% endif %}
          {% if page.description %}
          <p>{{ page.description }}</p>
          {% endif %}
          <hr>
        </div>
      {% endif %}
      <div id="content">
        {{ content }}
      </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/glide.min.js"></script>
  </body>
  <footer>
    <span class="credits left">Project maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></span>
  </footer>
</html>
