<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/styles.css" }}">

    <!-- Include JavaScript -->
    <script src="/assets/js/main.js"></script>

    <!-- CDN -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/css/glide.core.min.css">
    <script src="https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/glide.min.js"></script>

    <!-- Analytics -->
    <script src="https://cdn.counter.dev/script.js" data-id="7d098b43-05a7-4335-9ba4-25c02fcf2411" data-utcoffset="2"></script>
  </head>
  <body>
    <a id="skip-to-content" href="#content">Skip to the content.</a>
    {% if page.title or page.description %}
      <header class="page-header" role="banner">
        <a class="go-back-btn" href="/#projects"><< Go back</a>
        {% if page.title %}<h1 class="project-name">{{ page.title }}</h1>{% endif %}
        {% if page.description %}<h2 class="project-tagline">{{ page.description }}</h2>{% endif %}
        {% if page.github %}
          <a target="_blank" href="{{ page.github }}" class="btn">View on GitHub</a>
        {% endif %}
      </header>
    {% endif %}
    <main id="content" class="main-content" role="main">
      {{ content }}
    </main>
    <script src="https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/glide.min.js"></script>
  </body>
</html>
