---
  layout: default
---

{% assign project_images = site.static_files | where_exp: 'image', "image.path contains page.image_path" %}
{% assign col_limit = project_images | size | times: 1.0 | divided_by: 2 | ceil %}

<div>
  <div>
    <div class="row">
      <div class="column">
        {% for image in project_images limit: col_limit %}
          <img src="{{ site.baseurl }}{{ image.path }}" />
        {% endfor %}
      </div>
      <div class="column">
        {% for image in project_images limit: col_limit offset: continue %}
          <img src="{{ site.baseurl }}{{ image.path }}" />
        {% endfor %}
      </div>
    </div>
  </div>
  <hr>

  <h3>About this project</h3>
  <p>{{ page.content }}</p>

  {% if page.key_features.size > 0 %}
  <h3>Key Features</h3>
  <ul>
    {% for key_feature in page.key_features %}
      <li>{{ key_feature }}</li>
    {% endfor %}
  </ul>
  {% endif %}

  {% if page.challenges %}
  <h3>Challenges</h3>
  <p>{{ page.challenges }}</p>
  {% endif %}

  {% if page.learnings %}
  <h3>Learnings</h3>
  <p>{{ page.learnings }}</p>
  {% endif %}

  {% assign project_skills = site.data.skills | where_exp: "skill", "skill.projects contains page.slug" %}
  {% if project_skills.size > 0 %}
    <h3>Skills Used in This Project</h3>
    <ul>
      {% for skill in project_skills %}
        <li>{{ skill.name }}</li>
      {% endfor %}
    </ul>
  {% endif %}
</div>
<div class="fork">
  {% if page.github %}
    <a href="{{ page.github }}" class="btn btn-primary">View on GitHub</a>
  {% endif %}
</div>