---
  layout: default
---
{% assign project = page %}

<div class="content-section" style="margin-top: 1em">
  {% assign image_list = site.static_files | where_exp: 'image', "image.path contains page.image_path" %}
  {% include image_carousel_glide.html %}
</div>
<div class="content-section">
  {{ page.content }}
</div>
<div class="content-section">
  <div class="fork" style="padding: 10px 0; text-align: end;">
    {% if page.github %}
      <a href="{{ page.github }}" class="btn btn-primary">View on GitHub</a>
    {% endif %}
  </div>

  {% include project_skills.html %}
</div>