---
  layout: default
---
<div>
  {% include image_carousel.html %}
  <hr>

  <h3>About this project</h3>
  <p>{{ page.content }}</p>

  {% if page.key_features.size > 0 %}
  <h3>Key Features</h3>
  <ul>
    {% for key_feature in page.key_features %}
      <li>{{ key_feature }}</li>
    {% endfor %}
  </ul>
  {% endif %}

  {% if page.challenges %}
  <h3>Challenges</h3>
  <p>{{ page.challenges }}</p>
  {% endif %}

  {% if page.learnings %}
  <h3>Learnings</h3>
  <p>{{ page.learnings }}</p>
  {% endif %}

  {% include skills_list.html %}
</div>
<div class="fork">
  {% if page.github %}
    <a href="{{ page.github }}" class="btn btn-primary">View on GitHub</a>
  {% endif %}
</div>